firebase_admin==6.5.0
numpy>=1.26.0
nodriver==0.37
protobuf>=4.21.0
beautifulsoup4==4.12.3
pandas>=2.0.0
pyperclip==1.8.2
scrapy==2.11.0
google-cloud-pubsub==2.18.0
google-cloud-firestore==2.14.0
emoji==2.10.0
supabase==2.6.0
